<h1>Review</h1>
<button type="button" (click)="addReview()">Create new review</button>
<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Review Date</th>
      <th>Rating</th>
      <th>Property</th>
      <th>User</th>
      <th class="action-column">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let review of reviews; let i = index">
      <td>
        <input [(ngModel)]="review.comment" placeholder="Enter your comment">
      </td>
      <td>
        <input [(ngModel)]="review.reviewDate" type="date">
      </td>
      <td>
        <input type="number" [(ngModel)]="review.overallRating" min="1" max="5" placeholder="Rating (1-5)">
      </td>
      <td>
        <select [(ngModel)]="review.property.id">
          <option *ngFor="let property of properties" [value]="property.id">{{ property.propertyName }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="review.user.id">
          <option *ngFor="let user of users" [value]="user.id"></option>
        </select>
      </td>
      <td class="action-column">
        <button type="button" (click)="createReview(i)">Save</button>
        <button type="button" (click)="updateReview(i)">Edit</button>
        <button type="button" (click)="deleteReview(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
