<h1>Review</h1>
<button type="button" (click)="addReview()">Create new review</button>
<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Review Date</th>
      <th>Rating</th>
      <th>Property id</th>
      <th>User id</th>
      <th class="action-column">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let review of reviews; let i = index">
      <td>
        <input [(ngModel)]="review.comment" placeholder="Enter your comment">
      </td>
      <td>
        <input [(ngModel)]="review.reviewDate" type="date"> <!-- Assuming reviewDate is a date -->
      </td>
      <td>
        <input type="number" [(ngModel)]="review.overallRating" min="1" max="5" placeholder="Rating (1-5)">
      </td>
      <td>
        <input [(ngModel)]="review.propertyId" type="number"> <!-- Assuming reviewDate is a date -->
      </td>
      <td>
        <input type="number" [(ngModel)]="review.userId">
      </td>
      <td class="action-column">
        <button type="button" (click)="createReview(i)">save</button>
        <button type="button" (click)="updateReview(i)">edit</button>
        <button type="button" (click)="deleteReview(i)">delete</button>
      </td>
    </tr>
  </tbody>
</table>
