<div class="sidebar" [class.sidebar-open]="isSidebarOpen">
  <ul>
    <li><a routerLink="/admin/dashboard">Dashboard</a></li>
    <li><a routerLink="/admin/attribute">Attribute</a></li>
    <li><a routerLink="/admin/attribute-category">Attribute Category</a></li>
    <li><a routerLink="/admin/region">Region</a></li>
    <li><a routerLink="/admin/country">Country</a></li>
    <li><a routerLink="/admin/location">Location</a></li>
    <li><a routerLink="/admin/category">Category</a></li>
    <li><a routerLink="/admin/property">Property</a></li>
    <li><a routerLink="/admin/place-type">PlaceType</a></li>
    <li><a routerLink="/admin/property-type">Property Type</a></li>
    <li><a routerLink="/admin/review">Review</a></li>
    <li><a routerLink="/admin/bookings">Booking</a></li>
    <li><a routerLink="/admin/booking-guests">Booking Guests</a></li>
    <li><a routerLink="/admin/booking-statuses">Booking Status</a></li>
  </ul>
</div>
