@import "../../../../../assets/styles/variables";

td {
  text-align: left;
  padding: 0.25em 0.5em;
}

.dashboard__control {
  display: flex;
  flex-direction: row-reverse;

  button:not(:last-child) {
    margin-left: 0.5em;
  }
}

input {
  box-sizing: border-box;
  font-size: 1em;
  width: 100%;
  padding: 0.25em 0.5em;
}
