<div class="dashboard">
  <div class="dashboard__header">
    <div><h2><b>Property Types</b></h2></div>
  </div>

  <button type="button" (click)="addPropertyType()">Create new property type</button>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th class="action-column">Thao Tác</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let propertyType of propertyTypes; let i = index">
      <td><input [(ngModel)]="propertyType.typeName" [disabled]="!propertyType.isEditing"></td>
      <td class="action-column">
        <button type="button" (click)="createPropertyType(i)" *ngIf="propertyType.isEditing && !propertyType.isUpdating">Add</button>

        <button type="button" (click)="savepropertyType(i)" *ngIf="propertyType.isUpdating">Save</button>
        <button type="button" (click)="updatePropertyType(i)" *ngIf="!propertyType.isEditing">Edit</button>
        <button type="button" (click)="deletePropertyType(i)" *ngIf="!propertyType.isEditing">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
